<launch>

  <node pkg="catkinpkg_framework" name="catkinpkg_framework_node"
        type="catkinpkg_framework_node" clear_params="true" output="screen" />

  <!--<node name="rviz_node" pkg="rviz" type="rviz" /-->
 
  <!--<rosparam command="load" file="$(find catkinpkg_framework)/parameter/parameter_bag.yaml" />-->
  
  <!--param name="object_files_path" type="str" value="$(find catkinpkg_framework)/object_files.txt" /-->
  
</launch>
