<?xml version="1.0"?>
<launch>

  <!-- Launch catkinpkg_framework node -->
  <node pkg="catkinpkg_framework" name="catkinpkg_framework_node"
        type="catkinpkg_framework_node" clear_params="true" output="screen" />

  <!-- Launch rviz -->
  <!--<node name="rviz_node" pkg="rviz" type="rviz" /-->

  <!-- Include rosparam yaml files -->
  <!--<rosparam command="load" file="$(find catkinpkg_framework)/parameter/parameter_bag.yaml" />-->

  <!-- Include other files -->
  <!--param name="object_files_path" type="str" value="$(find catkinpkg_framework)/object_files.txt" /-->
  
</launch>
